.blok-4 {
  position: relative;
  justify-content: center;
  align-items: center;

  top: 15px;
  left: 195px;
  padding-bottom: 30px;
}

.blok-5 {
  position: relative;
  justify-content: center;
  align-items: center;
  top: 15px;
  left: 195px;

  padding-bottom: 30px;
}

.call {
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  left: 110px;
}

.gal-5 {
  justify-content: center;
  align-items: center;
  position: relative;
  left: 310px;
}

.team {
  position: relative;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#281c3e, #0f051d);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.team-content {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-top: 4rem;
}
.team-content img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.center h1 {
  color: #fff;
  font-size: 4rem;
  text-align: center;
}
.box {
  padding: 16px;
  height: 500px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  transition: all 0.38s ease;
}
.box h3 {
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 8px;
}
.box h5 {
  font-size: 15px;
  font-weight: 600;
  color: #b7b4bb;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.icons i {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin: 0 8px;
  transition: all 0.38s ease;
}
.icons i:hover {
  transform: scale(1.2);
}
.box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

@media (max-width: 1240px) {
  .team {
    width: 100%;
    height: auto;
    padding: 90px 2%;
  }
  .center h1 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 1200px) {
  .blok-4 {
    left: 170px;
  }
  .blok-5 {
    left: 170px;
  }
  .call {
    justify-content: center;
    align-items: center;
  }
  .gal-5{
    left: 280px;
  }
}

@media screen and (max-width: 1160px) {
  .call {
    left: 100px;
  }
  .blok-4 {
    left: 140px;
  }
  .blok-5 {
    left: 140px;
  }
  .gal-5{
    left: 245px;
  }
}


@media screen and (max-width: 1060px){
  .gal-5{
    left: 225px;
  }
}

@media screen and (max-width: 1000px) {
  .blok-4 {
    left: 130px;
  }
  .blok-5 {
    left: 130px;
  }
  .call {
    left: 80px;
  }
  .gal-5{
    left: 210px;
  }
}

@media screen and (max-width: 950px) {
  .call {
    left: 70px;
  }
  .gal-5{
    left: 200px;
  }
}

@media screen and (max-width: 876px) {
  .blok-4 {
    left: 120px;
  }
  .blok-5 {
    left: 120px;
  }
  .call {
    left: 60px;
  }
  .gal-5{
    left: 185px;
  }
}


@media screen and (max-width: 768px) {
  .blok-4 {
    left: 105px;
  }
  .blok-5 {
    left: 105px;
  }
  .call {
    left: 50px;
  }
  .gal-5{
    left: 165px;
  }
}

@media screen and (max-width: 767px) {
  .blok-4 {
    left: 0px;
    width: 850px;
  }
  .blok-5 {
    left: 0px;
    width: 850px;
  }
  .call {
    left: 260px;
  }
  .gal-5{
    left: 0;
  }
}

@media screen and(max-width: 700px) {
  .call {
    left: 400px;
  }
}
